<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Car</title>
    <%- include layout/materialize %>
  </head>

  <body>
    <%- include layout/header %>
      <div class="row">
        <h1><% dataMobil[0].type %></h1>
        <form action="/cars" method="post">
          <input type="text" name="userId" value=""><br>
          <input type="text" name="mobilId" value=""><br>
          <input type="text" name="muka" value=""><br>
          <input type="text" name="cicil" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>

  </body>

</html>
