<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Car</title>
    <%- include layout/materialize %>
  </head>

  <body>
    <%- include layout/innerheader %>
      <div class="container">
        <div class="row">
          <h1><% dataMobil[0].type %></h1>
          <form action="/cars" method="post">
            <input type="text" name="userId" placeholder="User"><br>
            <input type="text" name="mobilId" placeholder="Mobil"><br>
            <input type="text" name="muka" placeholder="Uang Muka"><br>
            <input type="text" name="cicil" placeholder="Cicilan"><br>
            <input type="text" name="gambar" placeholder="link"><br>
            <input class="btn waves-effect waves-light grey" type="submit" value="Submit">
          </form>
        </div>
      </div>

  </body>

</html>
