<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <%- include layout/materialize %>
      <style>

      </style>
  </head>

  <body background="">
    <%- include layout/header %>
      <div class="parallax-container">
        <div class="parallax"><img src="https://pictures.topspeed.com/IMG/crop/201703/2009-pagani-zonda-cinque-4_800x0w.jpg"></div>
      </div>
      <div class="section">
        <div class="row container">
          <p class="grey-text text-darken-3 lighten-3" align=center><img src="/Screen Shot 2017-07-19 at 10.49.10.png" alt=""></p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://mallmobil.files.wordpress.com/2011/11/test-drive-mercedes-benz_slr_mclaren.jpg"></div>
      </div>
  </body>

</html>
