<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    <a href="/">Home</a> | <a href="/login">Login</a>
    <form action="/login" method="post">
      <h2>login</h2>
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br><br>
      <button type="submit" name="submit">login</button>
    </form>
    <p>don't have account? <a href="/signup">register here</a></p>
  </body>
</html>
