<nav>
  <div class="nav-wrapper grey">
    <a href="/admin" class="brand-logo center"><img src="/imageedit_1_3376218948.png" alt="Brand" height="140"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/cars">Car List</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/logout" class="waves-effect waves-light btn #37474f blue-grey darken-3">Log Out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/cars">Car List</a></li>
    </ul>
  </div>
</nav>
